:root {
  --bg-color: rgba(0, 0, 0, 0.3);
  --primary-color: #FFF;
  --secondary-color: #000;

  --temp: 100px;
  --city: 45px;
  --lg-text: 42px;
  --md-text: 28px;
  --sm-text: 16px;
}

body {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', monospace;
}

::placeholder {
  color: var(--primary-color);
  font-weight: bold;
}