.hours {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  font-size: var(--lg-text);
  margin: 20px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1200px) {
  .hours {
    display: none;
  }
}