.select-place {
  padding: 10px 0 10px 10px;
  width: 25%;
}

.select-country {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.select-country p {
  color: var(--primary-color);
  font-size: var(--sm-text);
  font-weight: bold;
}

.select-country button {
  background-color: transparent;
  border: none;
  opacity: 50%;
}

.select-country button img {
  width: 40px;
}

.select-country button:hover {
  cursor: pointer;
  opacity: 100%;
}

.select-city {
  align-items: center;
  display: flex;
}

.city-input {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  font-size: var(--sm-text);
  font-weight: bold;
  padding: 10px;
  width: 210px;
}

.city-input:focus {
  outline: none;
}

.search {
  background-color: transparent;
  border: none;
  margin: 0 10px;
}

.search img {
  width: 35px;
}

.selected {
  opacity: 100% !important;
}

.search:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .select-place {
    margin: 0 auto;
    padding: 10px 0;
    width: 95%;
  }

  .select-city {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .select-country button img {
    width: 25px;
  }

  .city-input {
    width: 150px;
  }

  .search img {
    width: 25px;
  }
}